<template>
    <section id="banner">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </section>
</template>

<script>
export default {
  name: 'BannerSite'

}
</script>

<style scoped>
#banner {
    background-image: url(~/assets/css/imagens/banner-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
}
</style>
