<template>
    <section id="conhecimento">
        <div class="areas">
            <h3>Conhecimento</h3>
            <p>Listado abaixo demonstro alguns conhecimentos que possuo na área da programação, sempre buscando aprender e desenvolver soluções.</p>
        </div>
        <div class="text-conhe">
            <h3>HTML/CSS</h3>
        </div>
        <div class="progress">
        <div class="progress-bar"></div>
        </div>

        <div class="text-conhe">
            <h3>Javascript</h3>
        </div>
        <div class="javascript">
        <div class="javascript-bar"></div>
        </div>

        <div class="text-conhe">
            <h3>Vuejs/Nuxt</h3>
        </div>
        <div class="vue-nuxt">
        <div class="vue-nuxt-bar"></div>
        </div>

        <div class="text-conhe">
            <h3>Python</h3>
        </div>
        <div class="python">
        <div class="python-bar"></div>
        </div>

        <div class="text-conhe">
            <h3>Banco de Dados</h3>
        </div>
        <div class="dados">
        <div class="dados-bar"></div>
        </div>
    </section>
</template>

<script>
export default {

}
</script>

<style scoped>
.text-conhe h3 {
    font-size: 20px;
    padding: 7px 0;
}
.progress{
    height: 15px;
    background-color: #777;
    position: relative;
}
.progress .progress-bar{
   position: absolute;
   height: 100%;
   background-color: #add555;
   animation: progress-animation 6s infinite;
}
@keyframes progress-animation{
    0% { width: 0%; }
    100% { width: 50%}
}
.javascript{
    height: 15px;
    background-color: #777;
    position: relative;
}
.javascript .javascript-bar{
   position: absolute;
   height: 100%;
   background-color: #add555;
   animation: javascript-animation 6s infinite;
}
@keyframes javascript-animation{
    0% { width: 0%; }
    100% { width: 20%}
}
.vue-nuxt{
    height: 15px;
    background-color: #777;
    position: relative;
}
.vue-nuxt .vue-nuxt-bar{
   position: absolute;
   height: 100%;
   background-color: #add555;
   animation: vue-nuxt-animation 6s infinite;
}
@keyframes vue-nuxt-animation{
    0% { width: 0%; }
    100% { width: 30%}
}
.python{
    height: 15px;
    background-color: #777;
    position: relative;
}
.python .python-bar{
   position: absolute;
   height: 100%;
   background-color: #add555;
   animation: python-animation 6s infinite;
}
@keyframes python-animation{
    0% { width: 0%; }
    100% { width: 15%}
}
.dados{
    height: 15px;
    background-color: #777;
    position: relative;
}
.dados .dados-bar{
   position: absolute;
   height: 100%;
   background-color: #add555;
   animation: dados-animation 6s infinite;
}
@keyframes dados-animation{
    0% { width: 0%; }
    100% { width: 15%}
}
</style>
