<template>
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="contato">
                        <h3>Contato</h3>
                        <a href="mailto:andrethigol@gmail.com">andrethigol@gmail.com</a>
                    </div>
                </div>
                <div class="col">
                    <div class="redes-sociais">
                        <h3>Redes Sociais</h3>
                        <div class="rede">
                            <a href="https://www.instagram.com/andretlir/">Instagram</a> |
                            <a href="https://api.whatsapp.com/send?phone=5541995795907">Whatsapp</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {

}
</script>

<style scoped>
#footer {
    background-color: black;
    text-align: center;
    padding: 30px 0;
}
.contato h3, .redes-sociais h3 {
    color: #fff;
    font-size: 25px;
}
.contato a, .rede a{
    text-decoration: none;
    color: #fff;
}
</style>
