<template>
  <section>
    <section>
      <BannerSite />
    </section>
    <section id="corpo-site">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <div class="flutuante">
              <img src="~/assets/css/imagens/unnamed.jpg" alt=""><br>
              <h3>Andre Lira</h3>
              <h5>Frontend Web Developer em Evonline</h5>
              <a href="#">Baixar curriculo</a><br>
              <p>Me chamo André Lira, sou apaixonado por tecnologia sempre aprendendo e procurando novos desafio
                para o aumento do conhecimento.
              </p>
            </div>
          </div>
          <div class="col-8">
            <div class="menu-conhecimentos">
              <b-card no-body>
              <b-tabs card>
                <b-tab title="Conhecimento" active>
                  <b-card-text>
                    <ConheSite />
                  </b-card-text>
                </b-tab>

                <b-tab title="Sobre">
                  <b-card-text>EM BRVE </b-card-text>
                </b-tab>

                <b-tab title="Portifolio">
                  <b-card-text>EM BRVE</b-card-text>
                </b-tab>

                <b-tab title="Meio de Contato">
                  <b-card-text>EM BRVE</b-card-text>
                </b-tab>
              </b-tabs>
                </b-card>
            </div>
          </div>
        </div>

      </div>
    </section>
    <section>
      <FooterSite />
    </section>
  </section>

</template>

<script>
import BannerSite from '~/components/banner/BannerSite'
import ConheSite from '~/components/ConheSite'
import FooterSite from '~/components/footer/FooterSite'

export default {
  name: 'IndexPage',

  components: {
    BannerSite,
    ConheSite,
    FooterSite
  }
}
</script>

<style scoped>
a {
  color: #4c4c4c;
}
p {
  margin-top: 25px;
  margin-bottom: 1rem;
}
.flutuante {
  text-align: center;
  border: 1px solid #fafafa;
  padding: 30px;
  width: 300px;
  background-color:#fafafa;
  margin-top: -30%;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #e1dada;
}
.flutuante h3 {
    font-size: 25px;
    margin-top: -25px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}
.flutuante h5 {
    font-size: 13px;
    margin-bottom: 15px;
}
.flutuante p {
    margin-left: -15px;
    margin-right: -15px;
    text-align: justify;
    word-spacing: -1px;
}
.flutuante img {
    margin-bottom: 35px;
}
.flutuante a {
  text-decoration: none;
  padding: 8px 23px;
  border: 1px solid #4c4c4c;
  font-size: 17px;
  background-color: #4c4c4c;
  color: #fff;
  border-radius: 21px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border: none;
}
.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0px;
    background-color: transparent;
    border-bottom: none;
}
.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: none;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding: 12px 45px;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #4c4c4c;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.menu-conhecimentos {
  margin-top: 10%;
  margin-bottom: 10%;
}
@media (max-width: 767px){
  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
    flex-direction: column;
}
.col-8 {
    flex: 0 0 auto;
    width: 100%;
}
.flutuante {
    text-align: center;
    border: 1px solid #fafafa;
    padding: 30px;
    width: 300px;
    background-color: #fafafa;
    margin-top: -120%;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #e1dada;
}
}
</style>
